<p>
<h1> Hello! Welcome to Project!</h1>
<p>
<% if logged_in? %>

User No. <%= current_user.id %> !
<%= link_to "Edit Settings", :controller => "users",:action => "edit", :id => current_user.id %>
<%= link_to "Logout", :controller => "sessions", :action => "destroy" %>

</p>
<% else %>
Please <%= link_to "Login First", :controller => "sessions", :action => "new" %>
<% end %>
</p>

</p>

<p>

</p>
